# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/
env/

# Environment variables
.env

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node (لو عندك frontend)
node_modules/
dist/
build/

# Uploads / temp files
uploads/
temp/

# Model files (AI)
*.pt
*.h5
*.ckpt

# Database
*.sqlite3